Hello,<br>
<br>
Attached is the plan you purchased to beat jet lag on your upcoming trip! Simply save the files to your calendar application to receive reminders about plan activities.<br>
<br>
Here are some general guidelines for your upcoming trip to get the most out of your plan:<br>
<ul>
    <li>Do not consume caffeine unless the plan allows it.</li>
    <li>Avoid eating between meals.</li>
    <li>Try to avoid consuming alcohol for the duration of the plan. Alcohol can make it harder for your body to adjust to the new time zone.</li>
    <li>Do not take naps. Each nap can confuse your body's internal clock and prolong the transition.</li>
</ul>
On behalf of the Timegiver team, we wish you good travels.<br>
<br>
Sincerely,<br>
The Timegiver Team<br>
<br>
<img src="https://timegiver.app/img/logo100.png" alt="TimeGiver Logo"><br>